### STOCK PRICES OF AIRCRAFT MANUFACTERS

In [2]:
import glob
import numpy as np
import pandas as pd

In [1]:
path_prices = './data/stock/'

In [11]:
def FolderImporterPrecios (path:str = path_prices, spacer:str = ',', spacer_txt:str = '|'):

    #Get all files in the folder
    try:
        all_csv = glob.glob(path + "/*.csv")
    except:
        print('Error with path or files GLOB ERROR')

    #Make lists for each type of file
    li_csv = []



    #Get all CSV in the folder
    if len(all_csv) > 0:
        for filename in all_csv:
            try:
                df = pd.read_csv(filename, sep=spacer, encoding='utf-8', low_memory=False)
                li_csv.append((df[['Date', 'Close']].rename(columns={'Close': filename.split('/')[-1].split('.')[0]})))
            except:
                df = pd.read_csv(filename, sep=spacer, encoding='utf-16', low_memory=False)
                li_csv.append((df[['Date', 'Close']].rename(columns={'Close': filename.split('/')[-1].split('.')[0]})))
                print('File imported with utf-16 encoding')
            finally:
                print('Importing successfully done for ', filename)
        
        print('All CSV files imported and cleaned successfully')
    else:
        print('No CSV files found')


    precio_final = pd.concat(li_csv,axis=0, ignore_index=True)
    precio_final = precio_final.set_index('Date')
    return precio_final

In [12]:
precio_final = FolderImporterPrecios()

Importing successfully done for  ./data/stock/UAL.csv
Importing successfully done for  ./data/stock/BA.csv
Importing successfully done for  ./data/stock/BDRAF.csv
Importing successfully done for  ./data/stock/THYAO.IS.csv
Importing successfully done for  ./data/stock/AFPA.csv
Importing successfully done for  ./data/stock/ZNH.csv
Importing successfully done for  ./data/stock/DJI.csv
Importing successfully done for  ./data/stock/TXT.csv
Importing successfully done for  ./data/stock/IAG.csv
Importing successfully done for  ./data/stock/AAL.csv
Importing successfully done for  ./data/stock/LHADE.csv
Importing successfully done for  ./data/stock/LUV.csv
Importing successfully done for  ./data/stock/DAL.csv
Importing successfully done for  ./data/stock/SP500.csv
Importing successfully done for  ./data/stock/ERJ.csv
All CSV files imported and cleaned successfully

,UAL,BA,BDRAF,THYAO,AFPA,ZNH,DJI,TXT,IAG,AAL,LHADE,LUV,DAL,SP500,ERJ
Date,,,,,,,,,,,,,,,
2006-02-06,33.900002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-07,32.990002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-08,32.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-09,34.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-10,34.240002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
precio_final.index = pd.to_datetime(precio_final.index)

In [23]:
precio_final.sort_index(inplace=True)

In [24]:
precio_final

,UAL,BA,BDRAF,THYAO,AFPA,ZNH,DJI,TXT,IAG,AAL,LHADE,LUV,DAL,SP500,ERJ
Date,,,,,,,,,,,,,,,
1962-01-02,NaN,0.823045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,0.839506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,0.831276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,0.814815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,0.816872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-07,42.779999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.400002,NaN,NaN,NaN
2022-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.360001,NaN,NaN
2022-11-07,NaN,NaN,NaN,NaN,1.307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.365

In [12]:
precio_final.shape

(86020, 16)

In [11]:
precio_final.isna().sum()

Date         0
UAL      81801
BA       70701
BDRAF    82782
THYAO    80396
AFPA     80174
ZNH      79658
DJI      78142
TXT      82029
IAG      81155
AAL      81711
LHADE    79381
LUV      75214
DAL      82112
SP500    83474
ERJ      85767
dtype: int64

In [25]:
precio_final.to_csv('./data/precios_final.csv')

In [1]:
import pandas as pd

In [7]:
precio_final = pd.read_csv('./data/precios_final.csv', parse_dates=True)

In [9]:
from sqlalchemy import create_engine

def ConnectSQL():
    try:
        engine = create_engine("mysql+pymysql://{user}:{pw}@{address}/{db}"
                    .format(user="pythonuser",
                            address = '192.168.0.6:3306',
                            pw="borito333.",
                            db="lab3"))
        return engine
    except:
        print('Error connecting to SQL')

In [8]:
precio_final

,Date,UAL,BA,BDRAF,THYAO,AFPA,ZNH,DJI,TXT,IAG,AAL,LHADE,LUV,DAL,SP500,ERJ
0,1962-01-02,NaN,0.823045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1962-01-03,NaN,0.839506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1962-01-04,NaN,0.831276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1962-01-05,NaN,0.814815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1962-01-08,NaN,0.816872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86015,2022-11-07,42.779999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86016,2022-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.400002,NaN,NaN,NaN
86017,2022-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.360001,NaN,NaN
86018,2022-11-07,NaN,NaN,NaN,NaN,1.307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86019,2022-11-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.365

In [4]:
# Load new files from S3 Bucket to SQL
# NEED TO CHECK IF FILES ALREADY EXISTS IN FOLDER
def UploadData(df, table_name):
    engine = ConnectSQL()
    df.to_sql(table_name, con=engine, if_exists='append', index=False)
    print('New files uploaded to SQL')

In [10]:
UploadData(precio_final, 'stocks')

New files uploaded to SQL